
h1 HELLO!

h2 Don't feel bad, tomorrow will be better

form
  input(type='text', name='sender', placeholder='Who are you?')
  input(type='text', name='message', placeholder='What to send')
  input(type='submit', value='send')

ul

script(src='/vendor/socket.io-client/socket.io.js')
script(src='/js/main.js')
